<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .button {
            background-color: green;
            color: white;
            padding: 10px;
            text-align: center;
            border: none;
            cursor: pointer;
        }
        .button:hover {
            background-color: darkgreen;
        }
    </style>
</head>
<body>

<h1 th:text="${product.name}"></h1>
<p><strong>Price:</strong> <span th:text="${product.price}"></span></p>
<p><strong>Skin Type:</strong> <span th:text="${product.skinType}"></span></p>
<p><strong>Product Type:</strong> <span th:text="${product.productType}"></span></p>
<p><strong>Description:</strong> <span th:text="${product.description}"></span></p>
<p><strong>Ingredients:</strong> <span th:text="${product.ingredients}"></span></p>

<a href="#" class="button" th:href="@{'/cart/'+ ${userId} + '/add-to-cart/' + ${product.productId}}">Add to Cart</a>

<h2>Recommended Products</h2>
<ul>
    <li th:each="recommendedProduct : ${recommendedProducts}">
        <a th:href="@{/products/{id}(id=${recommendedProduct.productId})}" th:text="${recommendedProduct.name}"></a>
    </li>
</ul>
</body>
</html>
